{{ with .Site.Data.notesSection }}
{{ if .enable }}
<section class="section blog-preview" id="blog">
	<div class="blog-preview__shape">
		<img src="images/blog/blog-shape.svg" alt="blog shape" />
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="blog-preview__header">
					<span class="top-title pre-line">{{ .topTitle }}</span>
					{{ .title | markdownify }}
				</div>
				<p>{{ .Content }}
			</div>
			<div class="col-lg-6">
				<div class="blog-preview__header_button desktop">
					<a class="btn btn-outline-secondary  btn-zoom m-3" href="{{ .buttonTarget | absURL }}">See all notes</a>
				</div>
			</div>
		</div>
</section>
{{ end }} {{ end }}