<div class="pagination__title">
        <span class="pagination__title-h">Replies</span>
        <hr/>
    </div>
    {{ range .Site.Data.webmentions }}
        {{ range . }}
            {{ if isset . "wm-property" }} 
                {{ if eq (index . "wm-property") "in-reply-to" }}

                    <div class="u-comment h-cite">
                        <a class="u-author h-card" {{- if .author.url -}} href="{{ .author.url }}" {{ end }}>            
                            {{ .author.name | humanize }}
                        </a>
                    </p>
                        <p class="content e-content e-name">
                            {{- .content.html | safeHTML }}
                        </p>
                        <a class="u-url" href="{{ .url }}">
                            {{ .url }}
                        </a>
                        &nbsp;@
                        <time class="dt-published">{{ if .published }}{{ dateFormat $.Site.Params.dateformNumTime .published }}{{ end }}</time>  
                    </div>
                    <hr/>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
